@model SimpleAds.Services.ViewModels.Ads.AdViewModel
@{
    var currentUser = await this.UserManager.GetUserAsync(this.User);
    var userIsAdmin = await this.UserManager.IsInRoleAsync(currentUser, GlobalConstans.StringConstants.AdminRole);
    var userIsAuthor = Model.AuthorId == currentUser.Id && await this.UserManager.IsInRoleAsync(currentUser, GlobalConstans.StringConstants.UserRole);
    ViewData["Title"] = "Details";
}

<div>
    <h2>Details</h2>
    <div>
        <img class="img-thumbnail my-img" src="@Model.ImageUrl" />
    </div>
    <div>
        <h4>Title: @Model.Title</h4>
    </div>
    <div>
        <p>Content: @Model.Content</p>
    </div>
    <div>
        <p>Category: @Model.Category</p>
    </div>
    @if (userIsAuthor)
    {
        @switch (Model.Status)
        {
            case 1:
                <p>Status: Your ad is created.</p>
                break;
            case 2:
                <p>Status: Your ad is pending approval by Admin.</p>
                break;
            case 3:
                <p>Status: Your ad is opproved by Admin. Active.</p>
                break;
            case 4:
                <p>Your ad is edited and pending approval by Admin.</p>
                break;
        }
    }
    <div>
        <p>Expired on: @Model.ExpirationOn</p>
    </div>
    @if (string.IsNullOrWhiteSpace(Model.RejectMessage) == false)
    {
        <div>
            <p>Rejected: @Model.RejectMessage</p>
        </div>
    }

</div>

<div>
    @if (userIsAdmin)
    {
        <form asp-controller="Ads" asp-action="ApproveAd" asp-route-id="@Model.Id">
            <button type="submit" class="btn btn-default">Approve</button>
        </form>
        <form asp-controller="Ads" asp-action="RejectAd" asp-route-id="@Model.Id">
            <input type="text" name="message" placeholder="Message..." />
            <button type="submit" class="btn btn-default">Reject</button>
        </form>
    }
</div>

<div>
    @if (userIsAuthor && Model.Status == 3 && Model.ExpirationOn < DateTime.UtcNow)
    {
        <form asp-controller="Ads" asp-action="RepostAd" asp-route-id="@Model.Id">            
            <button type="submit" class="btn btn-primary">Repost</button>
        </form>
    }
</div>

<div>
    @if (userIsAuthor)
    {
        <form asp-controller="Ads" asp-action="DeleteAd" asp-route-id="@Model.Id">
            <button type="submit" class="btn btn-default">Delete</button>
        </form>
    }
</div>

<div>
    @if (userIsAuthor)
    {
        <form asp-controller="Ads" asp-action="EditAd" asp-route-id="@Model.Id">
            <button type="submit" class="btn btn-default">Edit</button>
        </form>
    }
</div>


